<h1>Listing artworks</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Filename</th>
    <th>Thumbail</th>
    <th>Size</th>
    <th>Height</th>
    <th>Width</th>
    <th>Content type</th>
  </tr>

<% @artworks.each do |artwork| %>
  <tr>
    <td><%=h artwork.owner_id %></td>
    <td><%=h artwork.pictures[0].filename %></td>
    <td><%=h artwork.thumbail %></td>
    <td><%=h artwork.size %></td>
    <td><%=h artwork.height %></td>
    <td><%=h artwork.width %></td>
    <td><%=h artwork.content_type %></td>
    <td><%= link_to 'Show', artwork %></td>
    <td><%= link_to 'Edit', artwork %></td>
    <td><%= link_to 'Destroy', artwork, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New artwork', new_artwork_path %>
