<h1>New artwork</h1>

this page is not working 

<%= error_messages_for :artwork %>

<% form_for(:picure, :url => pictures_path, 
                      :html => { :multipart => true }) do |f| -%>
  <p>
    <label for="artwork">Upload a picture of the artwork:</label>
    <%= f.file_field :uploaded_data %>
  </p>
<% end -%>

###
<% unless @artwork_feed_items.empty? %>
  <table class="artworks">
    <%= render :partial => 'artwork_feed_item', :collection => @artwork_feed_items %>
  </table>
  <%= will_paginate @artwork_feed_items %>
<% end %>
###

###<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(artwork_feed_item.user), artwork_feed_item.user %>
  </td>
  <td class="artwork">
    <span class="user">
      <%= link_to h(artwork_feed_item.user.name), artwork_feed_item.user %>
    </span>
    <span class="content">
      <%= image_tag(artwork_feed_item.public_filename) %>
    <span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(artwork_feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(artwork_feed_item.user) %>
  <td>
    <%= link_to "delete", artwork_feed_item, :method => :delete,
                                     :confirm => "You sure?" %>
  </td>
  <% end %>
</tr>
###

<!--

<% form_for(@artwork) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </p>
  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.label :thumbail %><br />
    <%= f.text_field :thumbail %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', artworks_path %>

-->


<!--

<% form_for(@artwork) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </p>
  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.label :thumbail %><br />
    <%= f.text_field :thumbail %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :width %><br />
    <%= f.text_field :width %>
  </p>
  <p>
    <%= f.label :content_type %><br />
    <%= f.text_field :content_type %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', artworks_path %>

--!>
