<%= link_to image_tag("Vadamo_logo.jpg", :height => "15%", :width => "15%"), root_path %>

<p>
  <%= link_to image_tag(@artwork.user.avatar.url(:thumb), :height => 64, :width => 64), @artwork.user %>
<%= link_to @artwork.user.name, @artwork.user %>
</p>

<p>
<div class="artwork title">
  <%=h @artwork.name %>
</div>
</p>

<%= image_tag @artwork.pictures[0].image.url %>

<p>
  <%=h @artwork.description %>
</p>

<p>
  <%=h @artwork.year %>
</p>

<p>
  <b>Medium:</b>
  <%=h @artwork.type %>
</p>

<p>
  <b>Edition:</b>
  <%=h @artwork.edition_number %>
</p>

<p>
  <b>Size:</b>
  <%=h @artwork.physical_width %> 
  x <%=h @artwork.physical_height %>
  x <%=h @artwork.physical_depth %>
   inches
</p>

<p>
  <b>Price:</b>
  <%=h @artwork.price %>
</p>

<p>Share</p>

<% if current_user?(@artwork.user) %>
<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<% end %>

<%= link_to 'Back', artworks_path %>
