<p>
  <b>Owner:</b>
  <%=h @artwork.owner_id %>
</p>

<p>
  <b>Filename:</b>
  <%=h @artwork.filename %>
</p>

<p>
  <b>Thumbail:</b>
  <%=h @artwork.thumbail %>
</p>

Count <!-- @pictures.count -->

<% @artwork.pictures.each do |picture| %>
  <tr>
    <td><%= h picture.user_id %></td>
    <td><%= image_tag picture.image.url %></td>
    <td><%= link_to 'Show', picture %></td>
    <td><%= link_to 'Edit', picture %></td>
    <td><%= link_to 'Destroy', picture, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

<%= link_to 'Add picturex', new_picture_path %>

You have <%= @artwork.pictures.count %>
 and id <%= @picture.artwork_id %>

<%= render :partial => 'pictures/new_picture', :object => @picture %>

<p>
  <b>Size:</b>
  <%=h @artwork.size %>
</p>

<p>
  <b>Height:</b>
  <%=h @artwork.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @artwork.width %>
</p>

<p>
  <b>Content type:</b>
  <%=h @artwork.content_type %>
</p>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
