<table class="profile">
  <tr>
    <td class="main">
      <h2>
	a1<%= image_tag @user.avatar.url %>
	a2<%= image_tag @user.avatar.url(:medium) %>
	a3<%= image_tag @user.avatar.url(:thumb) %>
        <%= h @user.name %>
      </h2>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= h @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Artworks</strong> <%= @user.artworks.count %>
    </td>
  </tr>
  <tr>
    <td class="artwork">
      <% unless @user.artworks.empty? %>
        <table class="artworks">
          <%= render @artworks %>
        </table>
        <%= will_paginate @artworks %>
      <% end %>
    </td>
  </tr>
</table>
