<table class="profile">
  <tr>
    <td class="main">
      <strong>Name</strong> <%= h @user.name %><br/>
      Avatar:      <%= image_tag @user.avatar.url(:thumb) %><br />
      URL: <%= link_to user_path(@user), @user %><br />
      Artworks: <%= @user.artworks.count %><br />
      <%= link_to "Edit Profile", edit_user_path(@user) %><br />
    </td>
  </tr>
  <tr>
    <td class="artwork">
      <% unless @user.artworks.empty? %>
        <table class="artworks">
          <%= render @artworks %>
        </table>
        <%= will_paginate @artworks %>
      <% end %>
    </td>
  </tr>
</table>
