<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(artwork_feed_item.user), artwork_feed_item.user %>
  </td>
  <td class="artwork">
    <span class="user">
      <%= link_to h(artwork_feed_item.user.name), artwork_feed_item.user %>
    </span>
    <span class="content">
      <%= image_tag(artwork_feed_item.public_filename) %>
    <span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(artwork_feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(artwork_feed_item.user) %>
  <td>
    <%= link_to "delete", artwork_feed_item, :method => :delete,
                                     :confirm => "You sure?" %>
  </td>
  <% end %>
</tr>
