<% if signed_in? %>
  <table class="front">
    <tr>
      <td class="sidebar round">
        <%= render 'pages/user_info' %>
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td class="main">
	<h2 class="artwork">Show me what you got</h2>
	<%= render 'pages/artwork_form' %>
	<%= render 'pages/artwork_feed' %>
      </td>
    </tr>
  </table>
<% else %>
  <p>
    Welcome to Vadamo.com, the online marketplace for art. Vadamo is currently in alpha and under heavy construction. 
  </p>
  <%= image_tag "10008328.jpg", :alt => 'funny pic' %>
  <%= link_to "Sign up now!", signup_url, :class => "signup_button round" %>
<% end %>
