<% if false && signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
	<%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Vadamo.com | Your online, social connection to the art world.</title>

<%= csrf_meta_tag %>

<% if false %>
<!-- f2bdc4 is the background color -->
<!-- need one of them flag.ico things -->
<!-- link href="http://www.vadamo.com/flag.ico" rel="icon" -->
<%=  render 'layouts/stylesheets' %>
<%= javascript_include_tag :defaults %>
<% end %>

<%= stylesheet_link_tag "test" %>


<meta content="Vadamo is your online, social connection to the art world." name="description">

</head>

<body>
<p>Vadamo is your online, social connection to the art world.</p>
<p/>
<p>Under Construction.</p>
</body>
