<div id="header2" class="round">
  <ul class="navigation round">
    <% if signed_in? %>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "You", current_user %></li>
    <li><%= link_to "Organize and Create", "tbd" %></li>
    <li><%= link_to "Contacts", "tbd" %></li>
    <li><%= link_to "Groups", "tbd" %></li>
    <li><%= link_to "Explore", "tbd" %></li>
    <li>Search</li>
    <% end %>
  </ul>
</div>
