<div id="header1" class="round">
  <%= link_to logo, root_path %>
  <ul class="navigation round">
    <% if signed_in? %>
    <li>Signed in as<%= link_to current_user.name, current_user %></li>
    <li>Cart</li>
    <li>Mail</li> 
    <% end %>
    <li><%= link_to "Help", help_path %></li>
    <% if signed_in? %>
    <li><%= link_to "Sign out", signout_path %></li>
    <% else %>
    <li><%= link_to "Sign in", signin_path %></li>
    <% end %>
  </ul>
</div>

